[run]
source = custom_components
omit = 
    */tests/*
    */test_*
    */__pycache__/*
    */.*
branch = True
parallel = True
concurrency = thread,multiprocessing

[report]
show_missing = True
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov
