---
name: Manage labels

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.1

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          skip-delete: true

  auto-label:
    name: Auto-label PRs
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.1

      - name: Auto-label PR
        uses: actions/labeler@v6
        with:
          configuration-path: ".github/labeler-config.yml"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
